<div class="component p-5">
    <div class="container-fluid p-5 border rounded-3 bg-light">
        <h1>Bienvenido a Laboratorio IV!</h1>
        <p class="w-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ab vel at inventore. Quis assumenda ratione quasi sint sunt odio id autem quisquam cupiditate nihil, maxime explicabo dignissimos possimus aperiam?</p>
        <div class="buttons">
            <a routerLink="/login" class="btn btn-primary">Iniciar Sesión</a>
            <a routerLink="/registro" class="btn btn-success m-3">Registrarse</a>
        </div>
    </div>
</div>
